html, body, #root, .App {
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-header h1 {
  display: inline-block;
  margin: 0
}

.bookmarklet {
  color: #fff;
  text-decoration: none;
  background: #c35050;
  padding: 8px;
  float: right;
  margin: 4px 5px;
}