@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

.App-header {
  background-color: #1d1d1b;
  height: 60px;
  padding: 10px 20px;
  color: white;
}

.App-header h1 {
  display: inline-block;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 2rem;
  background: white;
  color: #1d1d1b;
  padding: 0px 5px;
  border-radius: 7px;
  margin-top: 4px;
}

.bookmarklet {
  color: #fff;
  font-family: 'Inconsolata', monospace;  
  text-decoration: none;
  background: #c35050;
  padding: 8px;
  float: right;
  margin: 4px 5px;
  border-radius: 5px;
}

.ReactCodeMirror, .CodeMirror.cm-s-icecoder {
  height: calc(100vh - 60px);
}
